*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
     -khtml-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
         -o-box-sizing: border-box;
            box-sizing: border-box;
}
body {
	font-size: 16px;
	font-family: sans-serif;
	line-height: 1;
	margin: 0;
	padding-bottom: 1000px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
#canvas {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
#canvas > table {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-moz-box-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	flex: 1;
}
table {
	margin: 10px auto;
	border-collapse: collapse;
}
table table { margin: 0 auto; }
table tr:empty { display: none; }
table td {
	text-align: center;
	vertical-align: top;
	padding: 0;
	outline: 1px solid rgba(0, 255, 255, .5);
}
table div {
	padding: 25px;
	xborder: 1px solid red;
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -moz-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
table span {
	line-height: 50px;
	width: 50px;
	height: 50px;
	xoverflow: hidden;
	border: 2px solid black;
}
table span + span { margin-left: 50px; }

div.modal {
	background: rgba(0, 0, 0, .75);
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-moz-box-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	flex: 1;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	-ms-grid-row-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	position: relative;
	z-index: 1;
	cursor: pointer;
	cursor: hand;
	display: none;
}
div.modal-open {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: -flex;
}
div.modal-body {
	background: #fff;
	padding: 10px;
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -moz-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-moz-box-orient: vertical;
	-moz-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}
div.modal-body > div { padding: 5px; }
div.modal-body label { display: block; }
div.modal-body select { width: 100%; }
div.modal-body button { width: 100%; }
div.modal-body span {
	margin: 5px 0;
	display: block;
}

/*--------------------------------------------------------------------*/

.family-tree td,
.family-tree div,
.family-tree span { position: relative; }

tr > td > div > span:not(.is-spouse)::before {
	content: '';
	width: 4px;
	height: 25px;
	background: green;
	position: absolute;
	top: calc(-50% - 4px);
	right: 0;
	left: calc(50% - 2px);
	z-index: -1;
}
.family-tree > tbody > tr:first-child > td > div > span::before { display: none; }

.family-tree tr + tr > td::before {
	content: '';
	height: 4px;
	background: green;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: -1;
}
.family-tree tr + tr > td:first-child::before { left: 50%; }
.family-tree tr + tr > td:last-child::before { right: 50%; }

.family-tree td > div::before {
	content: '';
	height: 4px;
	background: green;
	position: absolute;
	top: 50%;
	left: 25%;
	right: 25%;
	z-index: -1;
	-webkit-transform: translateY(-50%);
	   -moz-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	     -o-transform: translateY(-50%);
	        transform: translateY(-50%);
}
.family-tree td > div::after {
	content: '';
	width: 4px;
	height: 50%;
	background: green;
	position: absolute;
	bottom: 0;
	right: 0;
	left: calc(50% - 2px);
	z-index: -1;
}

/*
tr.has-children + tr > td::before {
	content: '';
	height: 4px;
	background: green;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: -1;
}
tr.has-children + tr > td:first-child::before { left: 50%; }
tr.has-children + tr > td:last-child::before { right: 50%; }

tr.has-child.has-male-descendant + tr > td:only-child::before {
	left: calc(50% - 50px);
	right: calc(50% - 2px);
}
tr.has-child.has-female-descendant + tr > td:only-child::before {
	left: calc(50% - 2px);
	right: calc(50% - 50px);
}

tr.has-child.has-male-descendant + tr > td:last-child::before {
	right: calc(50% + 50px);
}
tr.has-child.has-female-descendant + tr > td:last-child::before {
	right: calc(50% - 50px);
}

tr.has-child > td > div > span:not(.is-spouse)::before,
tr.has-child + tr > td > div > span::before {
	content: '';
	width: 4px;
	height: 25px;
	background: green;
	position: absolute;
	top: calc(-50% - 4px);
	right: 0;
	left: calc(50% - 2px);
	z-index: -1;
}

table.family-tree > tbody > tr:first-child > td > div > span::before { display: none; }

div::before {
	content: '';
	height: 4px;
	background: green;
	position: absolute;
	top: 50%;
	left: 25%;
	right: 25%;
	z-index: -1;
	-webkit-transform: translateY(-50%);
	   -moz-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	     -o-transform: translateY(-50%);
	        transform: translateY(-50%);
}

tr.has-child > td > div::after {
	content: '';
	width: 4px;
	height: 50%;
	background: green;
	position: absolute;
	bottom: 0;
	right: 0;
	left: calc(50% - 2px);
	z-index: -1;
}
*/

.female { background: lightpink; }
.male { background: lightcyan; }
.you { background: yellow; }
