body > div > .tree {
	border: 2px solid #000;
	background: #fff;
}

.tree {
	margin: 50px auto;
	border-collapse: collapse;
}

.tree td,
.tree div,
.tree span { position: relative; }

.tree table { margin: 0 auto; }

.tree td {
	text-align: center;
	vertical-align: top;
	padding: 0;
	outline: 1px solid rgba(0, 255, 255, .5);
}

.tree div {
	padding: 25px;
	xborder: 1px solid red;
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -moz-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.tree span {
	line-height: 50px;
	width: 50px;
	height: 50px;
	xoverflow: hidden;
	border: 2px solid black;
	z-index: 1;
}
.tree span + span { margin-left: 50px; }

.tree tr > td > div > span:not(.is-spouse)::before {
	content: '';
	width: 4px;
	height: 25px;
	background: green;
	position: absolute;
	top: calc(-50% - 4px);
	right: 0;
	left: calc(50% - 2px);
	xz-index: -1;
}
.tree > tbody > tr:first-child > td > div > span::before { display: none; }

.tree tr + tr > td::before {
	content: '';
	height: 4px;
	background: green;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	xz-index: -1;
}
.tree tr + tr > td:first-child::before { left: 50%; }
.tree tr + tr > td:last-child::before { right: 50%; }

.tree tr div::before {
	content: '';
	height: 4px;
	background: green;
	position: absolute;
	top: 50%;
	left: 25%;
	right: 25%;
	xz-index: -1;
	-webkit-transform: translateY(-50%);
	   -moz-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	     -o-transform: translateY(-50%);
	        transform: translateY(-50%);
}
.tree tr:only-child div::before {
	display: none;
}

.tree tr:first-child div:after {
	content: '';
	width: 4px;
	height: 50%;
	background: green;
	position: absolute;
	bottom: 0;
	right: 0;
	left: calc(50% - 2px);
	xz-index: -1;
}
.tree tr:only-child div:after {
	display: none;
}

.tree span.you.is-male::after {
	content: '';
	height: 4px;
	background: red;
	position: absolute;
	top: -29px;
	width: 50px;
	left: calc(50% + 2px);
	z-index: 100;
}
.tree span.you.is-female::after {
	content: '';
	height: 4px;
	background: red;
	position: absolute;
	top: -29px;
	width: 50px;
	right: calc(50% + 2px);
	xz-index: 100;
}
.tree span:only-child::after {
	display: none;
}
