<script type="text/template" id="tpl-modal">
	<div class="modal">
		<div class="modal-body">
			<div>
				<label>
					<span>Name:</span>
					<input type="text">
				</label>
			</div>
			<div>
				<label>
					<span>Relationship:</span>
					<select name="select">
						<option value="value1">Mother</option>
						<option value="value2">Father</option>
						<option value="value3">Spouse</option>
						<option value="value3">Sibling</option>
					</select>
				</label>
			</div>
			<div>
				<button type="submit">Add Relative</button>
			</div>
		</div>
	</div>
</script>
