<script type="text/template" id="tpl-modal">
	<div class="modal">
		<div class="modal-body">
			<div>
				<label>
					<span>Name:</span>
					<input type="text" name="name" value="Susan G.">
				</label>
			</div>
			<div>
				<label>
					<span>Relationship:</span>
					<select name="relation">
						<option value="mother">Mother</option>
						<option value="father">Father</option>
						<option value="child">Child</option>
						<option value="spouse" selected>Spouse</option>
						<option value="sibling">Sibling</option>
					</select>
				</label>
			</div>
			<div>
				<label>
					<input type="radio" name="sex" value="male"> Male
					<input type="radio" name="sex" value="female" checked> Female
				</label>
			</div>
			<div>
				<button type="submit">Add Relative</button>
			</div>
		</div>
	</div>
</script>
