[ft-layout~="rows"],
[ft-layout~="cols"],
[ft-layout~="center"] {
	display: -webkit-flex;
	display: -khtml-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex
}

[ft-layout~="rows"] {
	-webkit-flex-direction: column;
	 -khtml-flex-direction: column;
	   -moz-flex-direction: column;
	    -ms-flex-direction: column;
	     -o-flex-direction: column;
	        flex-direction: column;
}

[ft-layout~="cols"] {
	-webkit-flex-direction: row;
	 -khtml-flex-direction: row;
	   -moz-flex-direction: row;
	    -ms-flex-direction: row;
	     -o-flex-direction: row;
	        flex-direction: row;
}

[ft-layout~="center"] {
	-webkit-align-items: center;
	 -ms-grid-row-align: center;
	  -webkit-box-align: center;
	     -moz-box-align: center;
	     -ms-flex-align: center;
	        align-items: center;
	-webkit-justify-content: center;
	       -webkit-box-pack: center;
	          -moz-box-pack: center;
	          -ms-flex-pack: center;
	        justify-content: center;
}

[ft-layout~="fill"] {
	-webkit-flex: 1;
	 -khtml-flex: 1;
	   -moz-flex: 1;
	    -ms-flex: 1;
	     -o-flex: 1;
	        flex: 1;
}

/*--------------------------------------------------------------------*/

/*
http://justindavis.co/2015/07/13/easy-list-items-with-flexbox/
<div ft-liner>
	<any><any ft-liner="fill">... fills leftover space ...</span><any>
</div>
*/

[ft-liner=""],
[ft-liner=""] > * {
	display: -webkit-flex;
	display: -khtml-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-box-align: center;
	   -ms-flex-align: center;
	      align-items: center;
}
[ft-liner=""] > [ft-liner="fill"] {
	-webkit-flex: 1 0 auto;
	 -khtml-flex: 1 0 auto;
	   -moz-flex: 1 0 auto;
	    -ms-flex: 1 0 auto;
	     -o-flex: 1 0 auto;
	        flex: 1 0 auto;
	margin-left: 10px;
}

/*--------------------------------------------------------------------*/

[ft-wrap] { padding: 10px; }
[ft-wrap] > :first-child { margin-top: 0; }
[ft-wrap] > :last-child { margin-bottom: 0; }

/*--------------------------------------------------------------------*/

/* http://callmenick.com/post/slide-and-push-menus-with-css3-transitions */
[ft-panel] {
	background: #fff;
	width: 300px; /* Superflous considering the next rule. */
	flex: 0 0 300px; /* Don‘t grow, don‘t shrink and stay fixed at `300px`. */
	position: relative;
}
[ft-panel] { margin-left: -230px; }
[ft-panel].is-open { margin-left: 0; }

/*--------------------------------------------------------------------*/

[ft-content] { display: none; }
.is-open [ft-content] { display: block; }
