body {
	display: -webkit-flex;
	display: -khtml-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex
	-webkit-flex-direction: row;
	 -khtml-flex-direction: row;
	   -moz-flex-direction: row;
	    -ms-flex-direction: row;
	     -o-flex-direction: row;
	        flex-direction: row;
}

[ft-tree] {
	position: relative;
	-webkit-flex: 1;
	 -khtml-flex: 1;
	   -moz-flex: 1;
	    -ms-flex: 1;
	     -o-flex: 1;
	        flex: 1;
}

[ft-panel] {
	position: relative;
	display: -webkit-flex;
	display: -khtml-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex
	-webkit-flex: 0 0 300px;
	 -khtml-flex: 0 0 300px;
	   -moz-flex: 0 0 300px;
	    -ms-flex: 0 0 300px;
	     -o-flex: 0 0 300px;
	        flex: 0 0 300px;
	-webkit-flex-direction: column;
	 -khtml-flex-direction: column;
	   -moz-flex-direction: column;
	    -ms-flex-direction: column;
	     -o-flex-direction: column;
	        flex-direction: column;
}
[ft-panel] > * {
	-webkit-flex: 1 0 auto;
	 -khtml-flex: 1 0 auto;
	   -moz-flex: 1 0 auto;
	    -ms-flex: 1 0 auto;
	     -o-flex: 1 0 auto;
	        flex: 1 0 auto;
}
[ft-panel] > :first-child,
[ft-panel] > :last-child {
	-webkit-flex: 0 0 auto;
	 -khtml-flex: 0 0 auto;
	   -moz-flex: 0 0 auto;
	    -ms-flex: 0 0 auto;
 	     -o-flex: 0 0 auto;
	        flex: 0 0 auto;
}

[ft-grid] {
	display: -webkit-flex;
	display: -khtml-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex
	-webkit-align-items: center;
	 -ms-grid-row-align: center;
	  -webkit-box-align: center;
	     -moz-box-align: center;
	     -ms-flex-align: center;
	        align-items: center;
	-webkit-justify-content: center;
	       -webkit-box-pack: center;
	          -moz-box-pack: center;
	          -ms-flex-pack: center;
	        justify-content: center;
}
