[ft-button] {
	font-size: 18px;
	font-weight: normal;
	text-align: center;
	line-height: 1;
	vertical-align: baseline;
	display: block;
	width: 100%;
	zoom: 1;
	cursor: pointer;
	letter-spacing: .08em;
	user-select: none;
	border: none transparent;
	box-shadow: none;
	border-radius: 5px;
	padding: 15px 10px;
	margin: 20px 0;
	-webkit-tap-highlight-color: transparent;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
}
[ft-button]::-moz-focus-inner {
	padding: 0;
	border: 0;
}
[ft-button],
[ft-button]:visited {
	color: #fff;
	background-color: lightseagreen;
}
[ft-button]:visited:hover,
[ft-button]:focus,
[ft-button]:focus:hover,
[ft-button]:hover,
[ft-button]:active {
	text-decoration: none;
	color: #fff;
	box-shadow: none;
	background: lightseagreen;
}
[ft-button]:hover,
[ft-button]:focus {
	background-image: linear-gradient(
	    transparent,
	    rgba(0, 0, 0, .05) 40%,
	    rgba(0, 0, 0, .1)
	);
}
[ft-button]:focus { outline: 0; }
[ft-button]:active {
	box-shadow: 0 0 0 .2em rgba(0, 0, 0, .15) inset,
	            0 0 1em rgba(0, 0, 0, 0.25) inset;
}
[ft-button][disabled],
[ft-button].disabled,
[ft-button].disabled:visited,
[ft-button].disabled:visited:hover,
[ft-button].disabled:focus,
[ft-button].disabled:focus:hover,
[ft-button].disabled:hover,
[ft-button].disabled:active {
	border: none;
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	filter: alpha(opacity=40);
	-khtml-opacity: .40;
	  -moz-opacity: .40;
	   -ms-opacity: .40;
	    -o-opacity: .40;
	       opacity: .40;
	cursor: not-allowed;
	box-shadow: none;
}

/*--------------------------------------------------------------------*/

[ft-toggle] {
	background-color: #444;
	margin: 0;
	padding: 0;
	height: 50px; /* Same as below. */
	cursor: pointer;
	cursor: hand;
	border-radius: 0;
	display: block;
	position: relative;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
}
[ft-toggle] > span { visibility: hidden; }
[ft-toggle]::before {
	content: "";
	text-align: center;
	height: 50px; /* Same as above. */
	width: 70px;
	background-color: #333;
	background-image: url(../plugins/font-awesome/chevron-right.svg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 24px;
	float: right;
	visibility: visible;
}
.is-open [ft-toggle]::before { background-image: url(../plugins/font-awesome/chevron-left.svg); }
[ft-toggle]::after {
	content: "";
	display: table;
	clear: both;
}
[ft-toggle],
[ft-toggle]:visited,
[ft-toggle]:visited:hover,
[ft-toggle]:focus,
[ft-toggle]:focus:hover,
[ft-toggle]:hover,
[ft-toggle]:active { background-color: #444; }

/*--------------------------------------------------------------------*/

[ft-action] {
	line-height: 50px;
	white-space: nowrap;
	height: 50px;
	margin: 0;
	padding: 0;
	position: relative;
}

[ft-action] + [ft-action] { margin-top: 10px; }

.is-closed [ft-action]::after {
	content: "";
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	pointer-events: none;
	-webkit-transform: translate(-50%, -50%);
	 -khtml-transform: translate(-50%, -50%);
	   -moz-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	     -o-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}
.is-closed [ft-action] {
	width: 50px;
	align-self: flex-end;
}
.is-closed [ft-action] span { display: none; }

/*--------------------------------------------------------------------*/

[ft-action="save"],
[ft-action="save"]:visited,
[ft-action="save"]:visited:hover,
[ft-action="save"]:focus,
[ft-action="save"]:focus:hover,
[ft-action="save"]:hover,
[ft-action="save"]:active { background-color: #3c763d; }

.is-closed [ft-action="save"]::after { background-image: url(../plugins/font-awesome/save.svg); }

[ft-action="close"],
[ft-action="close"]:visited,
[ft-action="close"]:visited:hover,
[ft-action="close"]:focus,
[ft-action="close"]:focus:hover,
[ft-action="close"]:hover,
[ft-action="close"]:active { background-color: #d9534f; }

.is-closed [ft-action="close"]::after { background-image: url(../plugins/font-awesome/times.svg); }

/*--------------------------------------------------------------------*/

[ft-close],
[ft-close]:visited {
	text-decoration: none;
	line-height: 1;
	text-indent: -999em;
	white-space: nowrap;
	width: 38px;
	height: 38px;
	margin: 0;
	padding: 0;
	background: #000 url(../plugins/font-awesome/close.svg) no-repeat center 45%;
	background-size: 60%;
	border-radius: 50%;
	box-shadow: 0 0 5px rgba(0, 0, 0, .5);
	overflow: hidden;
	position: absolute;
	top: -10px;
	right: -10px;
}
[ft-close]:visited:hover,
[ft-close]:focus,
[ft-close]:focus:hover,
[ft-close]:hover,
[ft-close]:active {
	text-decoration: none;
	cursor: pointer;
	background-color: red;
	color: rgba(0, 0, 0, 0);
	text-decoration: none;
	outline: 0;
	border: 0;
}
button[ft-close] {
	-webkit-appearance: none;
	padding: 0;
	cursor: pointer;
	border: 0;
}
